* {
  transition: all .1s;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div {
  width: -1vw;
  color: #fff;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 180px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background: #444;

}
header li a{
  font: 18px  Helvetica, sans-serif;
  color:#fff;
  text-decoration: none;
  cursor: default;
  margin-left: 0px;
/*  margin-bottom: 50px;
  width: 200px;
  height:100px;*/
}
header li a:hover{
    color: #548c8c;
}

form {
   height: 600px;
   width: 500px;
   margin-left: 590px;
     margin-top: 40px;
   padding: 20px;
   border-radius: 10px;
}
form .left, form .right {
   width: 440px;
}

label {
   font-size: 18px;
   text-align: center;
   margin: 10px 0px 0px 0px;

}
input, textarea {
   border: 1px solid #82858D;
   padding: 10px;
   font-size: 16px;
   width: 436px;
   border-radius: 10px;

}
textarea {
   height: 98px;
   margin-bottom: 25px;
  border-radius: 10px;

}
input[type="submit"] {
   width: 200px;
   border-radius: 10px;
   text-transform: uppercase;
   margin-left: 130px;
   margin-top: -15px;
}
.header-left
{
margin-left: 10%; 
}

.header-left a
{
  color:#fff;
  text-decoration: none;
  cursor: default;
  padding: 5px;
}

.header-left:hover a
{
    color: #945d8c;
}

.p
{
font: 18px Helvetica;
color:#444;
text-indent:20px;
text-align:center;
}

.map iframe
{
width: 1000px;
height: 500px;
}

.footer12
{  margin-top: -60px;
   margin-left: 800px;
}
.footer12 p, .footer12 a
{
font: 14px Helvetica;
color:#000;
}
.footer12 a
{
text-decoration: none;
border-bottom:1px dotted #444;
}
 
.container{
     box-sizing: border-box;
     display: block;
     margin: 0 auto;
     width: 1000px;
     padding-left: 285px;
     padding-right: 30px;
     margin-top: -2%;
     font: 20px Helvetica;
     color: #fff;

}
.column2{
 width: 350px;
 height: 200px;
 display: inline-block;
margin-right: 20px;
margin:1 auto;
padding:10px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
background-color: #444;
color: #fff;
text-align: center;
}
.column1{
 width: 350px;
 height: 200px;
  display: inline-block; 
color: #fff;
margin-right: 20px;
margin:1 auto;
padding:10px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
background-color: #444;
text-align: center;
}

.column3{
 width: 350px;
 height: 200px;
  display: inline-block;
color: #FFFFFF;
margin:1 auto;
padding:10px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
background-color: #444;
color: #fff;
text-align: center;
}


.contentex
{ 
width:1100px;
margin:1 auto;
padding:30px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
border-radius: 20px 20px 0px 0px;
background-color: #444444;
margin-top: 2%;
line-height: 20px;
text-align: center;
font: 20px Helvetica;
color: #fff;
}

.content
{
width:1100px;
height: 650px;
margin:1 auto;
margin-top: -4.3%;
margin-right: 280px;
padding:30px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
background-color: #444;
line-height: 20px;
text-align: center;
font: 20px Helvetica;
color: #fff;
}

.contentakeno
{
width:1100px;
height: 220px;
margin:1 auto;
margin-top: 7%;
margin-right: 295px;
padding:30px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
border-radius: 20px;
background-color: #444;
line-height: 20px;
text-align: center;
font: 20px Helvetica;
color: #fff;
}

.containerakeno{
     box-sizing: border-box;
     display: block;
     margin: 0 auto;
     width: 1700px;
     padding-left: 280px;
     padding-right: 30px;
     margin-top: 2%;
     font: 20px Helvetica;
     color: #000000;
}

.footer228
{  margin-top: 9%;
   margin-left: 47%;
}
.footer228 p, .footer228 a
{
font: 14px Helvetica;
color:#000;
}
.footer228 a
{
text-decoration: none;
border-bottom:1px dotted #444;
}

.column21{
 width: 350px;
 height: 180px;
 display: inline-block;
 border-radius: 10px;  
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;  
margin-right: 20px;
margin:1 auto;
padding:10px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
border-radius: 20px;
background-color: #444;
color: #fff;
text-align: center;
font-size: 13pt;
}
.column12{
 width: 350px;
 height: 180px;
  display: inline-block;
 border-radius: 10px;  
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;  
color: #fff;
margin-right: 20px;
margin:1 auto;
padding:10px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
border-radius: 20px;
background-color: #444;
text-align: center;
font-size: 13pt;
}

.column32{
 width: 350px;
 height: 180px;
  display: inline-block;
 border-radius: 10px;  
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;  
margin:1 auto;
padding:10px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
border-radius: 20px;
background-color: #444;
color: #fff;
text-align: center;
font-size: 13pt;
}
.footer123
{  margin-top: 12%;
   margin-left: 36%;
}
.footer123 p, .footer123 a
{
font: 14px Helvetica;
color:#000;
}
.footer123 a
{
text-decoration: none;
border-bottom:1px dotted #444;
}

.left p
{
  color: #000;
}
.right p
{
  color: #000000;
}
.text p
{
  font-size: 18pt;
  color: #000000;
  text-align: center;
  margin-top: 80px;
}

.nov
{
width:1100px;
height: 180px;
padding:30px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
border-radius:0px 0px 20px 20px;
background-color: #444;
margin-top: 2%;
text-align: center;
font: 20px Helvetica;
color: #fff;
}
.nov input[type="submit"] {
   width: 200px;
   border-radius: 10px;
   margin-right: -340px;
   margin-bottom: -25px;
}
.nov form {
   height: 100px;
   width: 500px;
   margin-left: 100px;
   margin-top: 10px;
   padding: 20px;
   border-radius: 10px;
}

.containerakeno5{
     box-sizing: border-box;
     display: block;
     margin: 0 auto;
     width: 1700px;
     padding-left: 210px;
     padding-right: 30px;
     margin-top: 80px;
     font: 20px Helvetica;  
}
.containerakeno5 h2{
  color: #444;
}

.column215{
 width: 400px;
 height: 430px;
 display: block;
 display: inline-block;
 border-radius: 10px;  
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;  
margin-right: 20px;
margin:1 auto;
padding:10px;
color: #fff;
text-align: center;
font-size: 13pt;
}

.column215 p img
{
width:200px; 
transition:width 0.9s ease; 

}
.column215:hover img { width:350px; }


.column125{
 width: 400px;
 height: 430px;
 display: block;
 display: inline-block;
 border-radius: 10px;  
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;  
margin-right: 20px;
margin-top: 70px;
margin:1 auto;
padding:10px;
color: #fff;
text-align: center;
font-size: 13pt;
}
.column125 p img
{
width:200px; 
transition:width 0.5s ease; 
}
.column125:hover img { width:350px; }


.column325{
  width: 400px;
 height: 430px;
 display: block;
 display: inline-block;
 border-radius: 10px;  
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;  
margin-right: 20px;
margin:1 auto;
padding:10px;
color: #fff;
text-align: center;
font-size: 13pt;
}

.column325 p img
{
width:200px; 
transition:width 0.5s ease; 
}
.column325:hover img { width:350px; }


.footer127
{  margin-top: 110px;
   margin-left: 560px;
}
.footer127 p, .footer127 a
{
font: 14px Helvetica;
color:#000;
}
.footer127 a
{
text-decoration: none;
border-bottom:1px dotted #444;
}

.footer129
{  margin-top: 50px;
   margin-left: 220px;
}
.footer129 p, .footer129 a
{
font: 45px Helvetica;
color:#000;
}
.footer129 a
{
text-decoration: none;
border-bottom:1px dotted #444;
}

.contentakenoq
{
width:1100px;
height: 190px;
margin-top: 20px;
margin-right: 295px;
padding:10px;
border-radius: 20px;
background-color: #444;
text-align: center;
font: 20px Helvetica;
color: #fff;
}

.contentakenow
{
width:1100px;
height: 220px;
margin-top: 20px;
margin-right: 295px;
padding:15px;
border-radius: 20px;
background-color: #444;
text-align: center;
font: 20px Helvetica;
color: #fff;
}

.contentakenoe
{
width:1100px;
height: 190px;
margin-top: 20px;
margin-right: 295px;
padding:10px;
border-radius: 20px;
background-color: #444;
text-align: center;
font: 20px Helvetica;
color: #fff;
}
.contentakenor
{
width:1100px;
height: 240px;
margin-top: 20px;
margin-right: 295px;
padding:15px;
border-radius: 20px;
background-color: #444;
text-align: center;
font: 20px Helvetica;
color: #fff;
}
.contentakenot
{
width:1100px;
height: 330px;
margin-top: 20px;
margin-right: 295px;
padding:15px;
border-radius: 20px;
background-color: #444;
text-align: center;
font: 20px Helvetica;
color: #fff;
}

.footer555
{  margin-top: 30px;
   margin-left: 770px;
}
.footer555 p, .footer555 a
{
font: 15px Helvetica;
color:#000;
}
.footer555 a
{
text-decoration: none;
border-bottom:1px dotted #444;
}
.footer129
{  margin-top: 120px;
   margin-left: 560px;
}
.footer129 p, .footer129 a
{
font: 15px Helvetica;
color:#000;
}
.footer129 a
{
text-decoration: none;
border-bottom:1px dotted #444;
}
.lefte
{
  width: 1700px;
  margin-left: -640px;
}
.righte
{
  width: 100px;
  margin-top: -37px;
  margin-left: 450px;
}